<section class="pt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 order-md-1 section-box">

                <!-- Heading -->
                <h1 class="display-3 text-center pt-4">
                    <span class="text-primary">Dashboard</span>. <br>
                </h1>

                <!-- Text -->
                <p class="lead text-center text-muted mb-6 mb-lg-8">
                      Find your dares that push you outside your comfort!
                </p>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


<section class="pt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 order-md-1 section-box">

                <!-- Heading -->
                <h3 class="display-6 text-center pt-4">
                    Complete DareJunction Website<br>
                </h3>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>